{% extends './layout.html' %}
{% block content %}

<div class='all-employees'>

  <div class='employees-flex'>
    <div class='jumbotron'>
      <h5>Add an Employee</h5>
      <form method='POST'>
        <strong>Employee Email (must be a valid Email): </strong>
          <br/>
        <input class='form-control' placeholder='Email' name='email' />
          <br/>
        <strong>Manager:</strong>
          <br/>
        <select class='custom-select' name='managerId'>
          <option value='-1'>None</option>
          {% for employee in employees %}
            <option value='{{employee.id}}'>{{ employee.email }}</option>
          {% endfor %}
        </select>
        <button class='btn btn-primary'>Create</button>
      </form>
    </div>
  </div>

  {% for employee in employees %}

    <div class='employees-flex'>

      <strong>Email Provider:</strong> {{ employee.emailProvider }}
      <br/>
      <strong>Employee Name:</strong> {{ employee.name }}

      <form method='POST' action='/employees/{{ employee.id }}?_method=PUT'>
        <strong>Employee Email:</strong>
        <br/>
        <input class='form-control' value='{{employee.email}}' name='email'/>
        <br/>
        Manager Email:
        <br/>
        <select class='custom-select' name='managerId'>
          <option value='-1'>None</option>
          {% for manager in employees %}
            <option {% if employee.managerId === manager.id %}selected{% endif %} value='{{manager.id}}'>{{ manager.email }}</option>
          {% endfor %}
        </select>
        <br/>
        <button class='btn btn-primary'>Update</button>
      </form>

      <form method='POST' action='/employees/{{ employee.id }}?_method=DELETE'>
        <button class='btn btn-warning'>Delete</button>
      </form>

        {% if employee.manages.length > 0 %}
          {{employee.email}} manages:
          {% for underling in employee.manages %}
            <br/>
            <span class='badge badge-success'>{{ underling.email }}</span>
          {% endfor %}
        {% endif %}

    </div>

  {% endfor %}

</div>

{% endblock %}
